<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>User r:</strong>
  <%= @report.user_r %>
</p>

<p>
  <strong>Img r:</strong>
  <%= @report.img_r %>
</p>

<p>
  <strong>Typer:</strong>
  <%= @report.typer %>
</p>

<p>
  <strong>Offender:</strong>
  <%= @report.offender %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
